.sidebar{
    flex: 3;
    margin: 20px;
    margin-top: 40px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 12px;
    cursor: pointer;
    color: #be9656;
}
.sidebarSocial{
    display: flex;
    align-items: center;
    justify-self: center;
}
.sidebarIcon{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-left: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .sidebar{
        display: none;
    }
}