.topbar {
  background-color: white;
  /* align-items: center; */
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topCenter {
  justify-content: center;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: end;
  cursor: pointer;
}
.catOpt{
  display: none;
}
@media only screen and (max-width: 600px) {
  .topImg {
    justify-content: center;
  }
  .catOpt{
    display: block;
  }
}
.aLink {
  text-decoration: "none";
  color: "inherit";
}
